<body class="newWalk">
  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
    <%@trips.each do |trip|%>
      <div class ="col-sm-4" class="tripbox">
        <a href="/trips/<%= trip.id %>"><%=trip.name%></a>
      </div>
    <% end %>
    </div>

    <div class="col-sm-2">
    </div>
  </div>
</body>