<h1> <%= @trip.name %> </h1>

<%@trip.trippings.each do |tripping|%>
  <div class ="row">
          <a href="/walks/<%= tripping.walk_id %>"><%=tripping.walk.title%></a>
  </div>
  </div>
<% end %>

<%= link_to 'Delete', trip_path(@trip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |