<h1> Theresa </h1>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="jumbotron text-center">
  <h1>Theresa</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p>Select Location
      <button href="<%= new_walk_path %>" type="button" class="btn btn-default">Add Walk</button>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9931.096460395553!2d-0.073328!3d51.51736!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9b451d586c649129!2sMakers!5e0!3m2!1sen!2suk!4v1597762657115!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </p>
    </div>
    <div class="col-sm-4">
      <div>
      <img src='https://www.malmesbury.com/media/k2/items/cache/e293f59f4ae0fed75a859fdf17db3e7b_XL.jpg' class="img-thumbnail rounded mx-auto d-block">
        <h5>Walk in the Wiltshire</h5>
        <p>This is a beautiful walk, come and enjoy Wiltshire sun on a sunny day...</p>
        <button type="button" class="btn btn-info btn-block">More Info</button>
      </div>
      <div>
        <img src='https://www.malmesbury.com/media/k2/items/cache/e293f59f4ae0fed75a859fdf17db3e7b_XL.jpg' class="img-thumbnail rounded mx-auto d-block">
          <h5>Another Walk in the Wiltshire</h5>
          <p>This is a beautiful walk, come and enjoy Wiltshire sun on a sunny day...</p>
        <button type="button" class="btn btn-info btn-block">More Info</button>
      </div>
    </div>
  </div>
</div>