// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#logInBlock {
  position: relative;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 20%; 
  width: 200px;
  height: 200px;
  border-right: 20%;
  border-left: 20%;
  border: 2px;
  border-style: solid;
  border-color: blue;
  border-radius: 12px
}