// Place all the styles related to the Walks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html, body {
  height: 100%;
}

.mapStyles {
  width: '100%';
  height: '100%'
}

.headerBlock {
  margin-top: 7%;
  margin-left: 5%;
  position: absolute;
  color: aliceblue;
  background-color: none
}

#headerBlockTitle {
  font-size: 76px;
}

#headerBlockSubTitle {
  font-size: 36px;
}

.parallax {
  /* The image used */
  background-image: url("https://instagram.flhr2-2.fna.fbcdn.net/v/t51.2885-15/e35/25023922_1582299001846151_5683933159448641536_n.jpg?_nc_ht=instagram.flhr2-2.fna.fbcdn.net&_nc_cat=111&_nc_ohc=Efr8yu6qpwEAX8nsk4s&oh=8a44da139d5cee680ef6393a4c88f7ea&oe=5F69C29F");

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mapHolder {
  height: 697px;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

div.walk-desc {
  // background-color: lightblue;
  height: 60px;
  overflow: hidden;
}

div.containerWithPadding {
  padding: 30px;
}

div.backgroundWhite {
  background-color: rgba(255, 255, 255, 0.8);
}

// for new walks page

body.newWalk {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
